.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.samplestyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.base {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 380px;
  background-color: rgb(170 167 167);
  border: 1px solid black;
}

.topboard {
  display: flex;
  width: 270px;
  height: 75px;
  margin-top: 12px;
  background-color: rgb(170 167 167);
  border: 1px solid black;
}

.countboard {
  display: flex;
  width: 70px;
  height: 45px;
  margin-top: 12px;
  margin-left: 20px;
  background-color: rgb(170 167 167);
  border: 1px solid black;
}

.timeboard {
  display: flex;
  width: 70px;
  height: 45px;
  margin-top: 12px;
  margin-left: 20px;
  background-color: rgb(170 167 167);
  border: 1px solid black;
}

.emoboard {
  display: flex;
  width: 45px;
  height: 45px;
  margin-top: 12px;
  margin-left: 20px;
  background-color: rgb(170 167 167);
  border: 1px solid black;
}

.bombmap {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: rgb(170 167 167);
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: black solid 1px;
}

