.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.samplestyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.base {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: rgb(240 92 24);
}

.topboard {
  display: flex;
  width: 270px;
  height: 75px;
  margin-top: 12px;
  background-color: rgb(134 196 20);
  border: 1px solid black;
}

.countboard {
  display: flex;
  width: 70px;
  height: 45px;
  margin-top: 12px;
  margin-left: 20px;
  background-color: rgb(15 160 185);
  border: 1px solid black;
}

.timeboard {
  display: flex;
  width: 70px;
  height: 45px;
  margin-top: 12px;
  margin-left: 20px;
  background-color: rgb(15 93 211);
  border: 1px solid black;
}

.emoboard {
  display: flex;
  width: 45px;
  height: 45px;
  margin-top: 12px;
  margin-left: 20px;
  background-color: rgb(44 20 180);
  border: 1px solid black;
}

.board {
  display: flex;
  width: 270px;
  height: 270px;
  background-color: rgb(175 12 74);
  border: 1px solid black;
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: black solid 1px;
}
